
@font-face
{
    font-family: 'Roboto Slab';
    font-weight: bold;
    font-style: normal;

    src: url('../fonts/RobotoSlab-Bold.eot');
    src: url('../fonts/RobotoSlab-Bold.eot?#iefix') format('embedded-opentype'),
    url('../fonts/RobotoSlab-Bold.woff2') format('woff2'),
    url('../fonts/RobotoSlab-Bold.woff') format('woff'),
    url('../fonts/RobotoSlab-Bold.ttf') format('truetype');
}

@font-face
{
    font-family: 'Roboto';
    font-weight: bold;
    font-style: normal;

    src: url('../fonts/Roboto-Bold.eot');
    src: url('../fonts/Roboto-Bold.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Roboto-Bold.woff2') format('woff2'),
    url('../fonts/Roboto-Bold.woff') format('woff'),
    url('../fonts/Roboto-Bold.ttf') format('truetype');
}

@font-face
{
    font-family: 'Roboto';
    font-weight: normal;
    font-style: normal;

    src: url('../fonts/Roboto-Regular.eot');
    src: url('../fonts/Roboto-Regular.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Roboto-Regular.woff2') format('woff2'),
    url('../fonts/Roboto-Regular.woff') format('woff'),
    url('../fonts/Roboto-Regular.ttf') format('truetype');
}
html{
    font-size: 14px;
}
body{
    padding: 75px 0;
    font-family: 'Roboto';
}
hr{
    border: 1px solid #dcdcde;
    margin: 50px 0;
}
.clear:after{
    display: block;
    clear: both;
    content: '';
}
fieldset{
    padding: 0;
    margin: 0;
    border: 0;
}
.in-column::-webkit-input-placeholder{
    font-size: 14px;
    font-weight: 400;
    color: #b3b3b3;
}
.in-column,
.fixed-button{
    padding: 15px;
    border: 1px solid #ccc;
    border-radius: 2px;
    box-sizing: border-box;
    width: 100%;
    margin: 0;
}
.in-column{
        margin-bottom: 10px;
}
.wrapper{
    width: 80%;
    margin: 0 auto;
}
h1{
    font-family: 'Roboto Slab';
    font-size: 30px;
    font-weight: 700;
    margin-bottom: 70px;
    text-align: center;
    color: #1f222c;
}
h2{
    font-size: 20px;
    font-weight: 700;
    letter-spacing: 0;
    text-transform: uppercase;
    color: #b3b3b3;
    margin-bottom: 40px;
}
.easy-form{
    width: 330px;
}
textarea{
    min-height: 100px;
    max-height: 250px;
    resize: vertical;
}
input:focus{
    border: 1px solid #3d69ff;
    box-shadow: 0 0 5px rgba(61, 105, 255, .55);
}
.easy-form textarea{
    font-weight: 400;
    height: 130px;
}
.button-registr,
.fixed-button{
    font-weight: 700;
    color: #fff;
    background-color: #12d661;
    border: none;
}
.static{
    display: none; 
    position: fixed;
    z-index: 10;
    top: 175px;
    right: 10.5%;
    width: 310px;
    max-height: 270px;
    height: 100%;
}
.static-form{
    box-sizing: border-box;
    padding: 20px 24px;
    border: 1px solid #e5e5e5;
    border-radius: 3px;
    background-color: #fafafa;
    box-shadow: 0px 5px 6px rgba(0,0,0,0.15);
}
.login-line{
    margin-bottom: 32px;
}
.password-line{
    margin-bottom: 7px;
}
.login,
.password
{
    position: relative;
    margin-bottom: 0;
}
.login span,
.password span{
    font-size: 13px;
    font-weight: 400;
    position: absolute;
    top: -30px;
    color: #b3b3b3;
}
.i-login,
.i-password{
    padding: 9px 47.5px;
    border: 1px solid #ccc;
    border-radius: 2px;
}
.elements-left p:first-child,
.gender p:first-child,
.save-password{
    margin-top: 0;
}
.elements-left{
    float: left;
    width: 50%;
}
.delivery,
.function{
    float: left;
    border: none;
    padding: 0;
    margin: 0;
}
.delivery{
    width: 40%;
}
.function{
    width: 60%;
}
.elements-right{
    float: left;
    padding: 10px 0 20px 20px;
    background-color: #f7f7f7;
    border: 1px solid #e5e5e5;
    border-radius: 3px;
    width: 50%;
}
.elements-right th{
    color: #b3b3b3;
    font-weight: 700;
    text-align: left;
}
.elements-right th{
    width: 80px;
}
.elements-right td,
.elements-right input{
    font-weight: 400;
    box-sizing: border-box;
    color: #1f222c;
}
.elements-right label{
    padding-right: 16px;
}
.elements-right p{
    line-height: 40px;
    margin: 0;
}
.date{
    padding: 10px;
    width: 150px;
    height: 40px;
    border: 1px solid #ccc;
    border-radius: 2px;
}
.date-wrapper{
    position: relative;
}
.date-wrapper:before{
    content: "";
    position: absolute;
    top: 0;
    right: 31px;
    width: 18px;
    height: 18px;
    background-image: url(../images/sprite.png);
    background-position: 0 -144px;
}
.date::-webkit-inner-spin-button{
    display: none; 
}
.date::-webkit-calendar-picker-indicator{
    opacity: 0;
}
.gender,
.style-function{
    float: left;
}
.gender{
    width: 40%;
}
.style-function{
    width: 60%;
}
.style-checkbox,
.style-radio,
.man,
.woman,
.second-style-checkbox{
    position: absolute;
    visibility: hidden;
    margin: 0;
}
.man+label,
.woman+label{
    position: relative;
    font-size: 16px;
    line-height: 72px;
    padding-left: 87px;
    color: #1f222c;
    font-weight: 700;
}
.man+label:before,
.woman+label:before,
.man:checked+label:after,
.woman:checked+label:after{
    content: "";
    position: absolute;
    top: -27px;
    left: 0;
    background-image: url(../images/sprite.png);
    width: 70px;
    height: 70px;
}
.man+label:before{
    background-position: -72px -72px;
}
.woman+label:before{
    background-position: 0 -72px;
}
.man:checked+label:after{
    background-position: -72px 0;
}
.man:checked+label,
.woman:checked+label{
    color: #3e6aff;
}
.woman:checked+label:after{
    background-position: 0 0;
}
.style-function p{
    line-height: 50px;
    margin: 0;
}
.second-style-checkbox+label{
    position: relative;
    padding-left: 65px;
    color: #1f222c;
}
.second-style-checkbox+label::before{
    content: '';
    position: absolute;
    top: -5px;
    left: 0;
    width: 45px;
    height: 25px;
    border-radius: 12px;
    background-color: #cfcfd1;
    transition: all 0.5s ease;
}
.second-style-checkbox+label:after{
    content: '';
    position: absolute;
    top: -3px;
    left: 2px;
    width: 21px;
    height: 21px;
    border-radius: 50%;
    background-color: #fff;
    transition: all 0.5s     ease;
}
.second-style-checkbox:checked+label::before{
    background-color: #3e6aff;
}
.second-style-checkbox:checked+label::after{
    left: 22px;
}
.static a{
    display: inline-block;
    font-size: 13px;
    font-weight: 400;
    color: #3e6aff;
    margin-bottom: 10px;
    text-decoration: none; 
}
.static a:hover{
    text-decoration: underline;
}
.style-checkbox:disabled+label,
.style-radio:disabled+label{
    color: #b3b3b3;
}
.style-checkbox:disabled+label:before,
.style-radio:disabled+label:before{
    border-color: #e5e5e5;
    background-color: #f7f7f7;
}
.style-checkbox+label,
.static-checkbox+label,
.style-radio+label{    
    padding-left: 25px;
    color: #1f222c;   
}
.style-checkbox+label,
.style-radio+label{
    position: relative;
    font-weight: 400;
}
.static-checkbox+label{
    font-family: "Times New Roman";
    font-size: 13px;
}
.style-checkbox+label::before,
.style-radio+label::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    border: 1px solid #ccc;
    background-color: #fff;
}
.style-checkbox+label::before{
    border-radius: 3px;
    width: 16px;
    height: 16px;
}
.style-radio+label::before{
    border-radius: 50%;
    width: 15px;
    height: 15px;
}
.style-checkbox:checked+label::before,
.style-radio:checked+label::before{
    border: 1px solid #3d69ff;
}
.style-checkbox:checked+label:after,
.style-radio:checked+label:after{
    content: "";
    position: absolute;
    left: 5px;
    top: 5px;
}    
.style-checkbox:checked+label:after{
    width: 7.5px;
    height: 4px;
    transform: rotate(-45deg);
    border-bottom: 1px solid #3d69ff;
    border-left: 1px solid #3d69ff;
}
.style-radio:checked+label:after{
    top: 5px;
    background-color: #3d69ff;
    width: 7px;
    height: 7px;
    border-radius: 50%;
}
.fixed-button{
    width: 100%;
}
.static p:last-child{
    margin-bottom: 0;
}
